/* ========== Fuentes ==========*/
@font-face {
    font-family: 'DMSans-Italic';
    src: url(./assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: 'DMSans-VariableFont';
    src: url(./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
    font-weight: 300;
}
:root{
    /* ========== Colors ========== */
    --bg-color: #F5F5F5;
    --white-color: #fff;
    --secondary-color: #3d3d3d;
    --light-purple-color: #DCD1FC;
    --purple-color: #7651DC;
    --light-yellow-color: #FAEEE2;
    --yellow-color: #FFCC69;

    /* ========== Font ========== */
    --font-family: 'DMSans-Italic', sans-serif;
    --title-font: 'DMSans-VariableFont', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color);
}
img{
    width: 200px;
}
.card{
    margin-bottom: 2rem;
    border-radius: .6rem;
}
.main-container{
    display: grid;
    padding: 2rem 1.5rem;
}

/*========== Primera Tarjeta ==========*/
.card__primary{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-color);
    color: var(--white-color);
}
.card__image img{
    width: 200px;
    object-fit: cover;
}
.card__title,
.card__subtitle,
.card__description{
    font-family: var(--title-font);
}
.card__title{
    margin: 1rem 0;
    font-size: 3rem;
    text-align: center;
    line-height: 1;
}
.card__title span{
    color: var(--yellow-color);
}
.card__review{
    font-family: var(--title-font);
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--light-yellow-color);
}

/*========== Segunda Tarjeta ==========*/
.card__social{
    padding: 1rem;
    background-color: var(--white-color);
    border-radius: .5rem;
    line-height:1.030;
}
.card__image-social img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
    filter: drop-shadow(-6px 10px 5px rgba(0, 0, 0, 0.06));
}
/*========== Tercera Tarjeta ==========*/
.card__calendar{
    position: relative;
    height: 221px;
    padding: 1rem 1rem 0;
    background-color: var(--yellow-color);
    border-radius: .5rem;
    line-height:1.030;
    overflow: hidden;
}
.card__image-calendar img{
    position: absolute;
    width: 210px;
    margin-top: 1rem;
}
/*========== Cuarta Tarjeta ==========*/
.clard__schedule-social{
    padding: 1rem;
    background-color: var(--light-purple-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card__image-schedule img{
    width: 300px;
    margin: 1rem 0;
}
.card__description{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
/*========== Quinta tarjeta ==========*/
.card__followers{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-color);
}
.card__image-followers img{
    width: 230px;
    margin-bottom: 1.5rem;
}
.card__followers .card__subtitle{
    font-size: 2rem;
    text-align: center;
    color: var(--white-color);
    line-height: .9;
    margin-bottom: .5rem;
}
/*========== Sexta tarjeta ==========*/
.card__audience{
    padding: 1.5rem;
    background-color: var(--white-color);
}
.card__audience .card__subtitle{
    font-size: 2.8rem;
    margin-bottom: .5rem;
}
.card__audience .card__description{
    font-size: 1.1rem;
    text-align: start;
    margin-bottom: 1.3rem;
    color: var(--secondary-color);
}
.card__image-users img{
    width: 170px;
}
/*========== Septima trajeta ==========*/
