/* ========== Fuentes ==========*/
@font-face {
    font-family: 'DMSans-Italic';
    src: url(./assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: 'DMSans-VariableFont';
    src: url(./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
    font-weight: 300;
}
:root{
    /* ========== Colors ========== */
    --bg-color: #F5F5F5;
    --white-color: hsl(0, 0%, 100%);
    --secondary-color: hsl(0, 0%, 7%);
    --light-purple-color: hsl(254, 88%, 90%);
    --purple-color: hsl(256, 67%, 59%);
    --light-yellow-color: hsl(31, 66%, 93%);
    --yellow-color: hsl(39, 100%, 71%);

    /* ========== Font ========== */
    --font-family: 'DMSans-Italic', sans-serif;
    --title-font: 'DMSans-VariableFont', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}
img{
    width: 200px;
}
.card{
    margin-bottom: 2rem;
    border-radius: .6rem;
}
.main-container{
    display: grid;
    padding: 2rem 1.5rem;
}

/*========== Primera Tarjeta ==========*/
.card__primary{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-color);
    color: var(--white-color);
}
.card__image img{
    width: 200px;
    object-fit: cover;
}
.card__title,
.card__subtitle,
.card__description{
    font-family: var(--title-font);
}
.card__title{
    margin: 1rem 0;
    font-size: 3rem;
    text-align: center;
    line-height: 1;
}
.card__title span{
    color: var(--yellow-color);
}
.card__review{
    font-family: var(--title-font);
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--light-yellow-color);
}

/*========== Segunda Tarjeta ==========*/
.card__social{
    padding: 1rem;
    background-color: var(--white-color);
    border-radius: .5rem;
    line-height:1.030;
}
.card__image-social img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
    filter: drop-shadow(-6px 10px 5px rgba(0, 0, 0, 0.06));
}
/*========== Tercera Tarjeta ==========*/
.card__calendar{
    position: relative;
    height: 221px;
    padding: 1rem 1rem 0;
    background-color: var(--yellow-color);
    border-radius: .5rem;
    line-height:1.030;
    overflow: hidden;
}
.card__image-calendar img{
    position: absolute;
    width: 210px;
    margin-top: 1rem;
}
/*========== Cuarta Tarjeta ==========*/
.card__schedule-social{
    padding: 1rem;
    background-color: var(--light-purple-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card__image-schedule img{
    width: 300px;
    margin: 1rem 0;
}
.card__description{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
/*========== Quinta tarjeta ==========*/
.card__followers{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-color);
}
.card__image-followers img{
    width: 230px;
    margin-bottom: 1.5rem;
}
.card__followers .card__subtitle{
    font-size: 2rem;
    text-align: center;
    color: var(--white-color);
    line-height: .9;
    margin-bottom: .5rem;
}
/*========== Sexta tarjeta ==========*/
.card__audience{
    padding: 1.5rem;
    background-color: var(--white-color);
}
.card__audience .card__subtitle{
    font-size: 2.8rem;
    margin-bottom: .5rem;
}
.card__audience .card__description{
    font-size: 1.1rem;
    text-align: start;
    margin-bottom: 1.3rem;
    color: var(--secondary-color);
}
.card__image-users img{
    width: 170px;
}
/*========== Septima trajeta ==========*/
.card__create{
    padding:  1.8rem 1.5rem 0;
    background-color: var(--light-yellow-color);
}
.card__create .card__subtitle{
    line-height: 1.030;
    font-size: 1.85rem;
    margin-bottom: .5rem;
}
.card__create .card__subtitle i{
    color: var(--purple-color);
}
.card__image-create img{
    margin: 1rem 0 1.8rem 0;
    width: 185px;
}
/*========== Octava tarjeta ==========*/
.card__writeAI{
    font-size: 1.125rem;
    padding: 1.5rem;
    background-color: var(--yellow-color);
    line-height:1.030;
}
.card__image-writeAI{
    margin: 1.6rem 0 0;
}

/*========== Responsive ==========*/

@media screen and (min-width: 768px){
    .main-container{
        grid-template-columns: repeat(8, auto);
        grid-template-rows: repeat(6, 200px);
        gap: 1.5rem;
    }
    .card{
        margin-bottom: 0;
    }
    .card__primary{
        grid-column: 1 / 5;
        grid-row: 1 / 3;
    }
    .card__calendar{
        grid-column: 5 / 9;
        grid-row: 3 / 4;
    }
    .card__schedule-social{
        grid-column: 5 / 9;
        grid-row: 5 / 7;
    }
    .card__subtitle{
        margin-top: 1rem;
    }
    .card__audience{
        padding: .5rem 1rem;
        grid-column: 5 / 9;
        grid-row: 4 / 5;
    }
    .card__audience .card__description{
        margin-bottom: .5rem;
    }
    .card__followers{
        grid-column: 1 / 5;
        grid-row: 3 / 5;
    }
    .card__create{
        grid-column: 5 / 9;
        grid-row: 1 / 2;
    }
    .card__social{
        grid-column: 5 / 9;
        grid-row: 2 / 3;
    }
    .card__writeAI{
        grid-column: 1 / 5;
        grid-row: 5 / 7;
    }
}

@media screen and (min-width: 1200px) {
    .main-container{
        grid-template-columns: repeat(12, 60px);
        grid-template-rows: repeat(7, 100px);
        gap: 1.5rem;
    }
    .card__primary{ /*1*/
        grid-column: 4 / 10;
        grid-row: 1 / 4;
    }
    .card__image img{
        width: 140px;
    }
    .card__review{
        font-size: .85rem;
    }
    .card__social{ /*2*/
        position: relative;
        grid-column: 4 / 7;
        grid-row: 4 / 6;
        overflow: hidden;
    }
    .card__subtitle{
        margin: 0;
        font-size: 1.68rem;
    }
    .card__image-social img{
        width: 290px;
    }
    .card__calendar{ /*3*/
        height: auto;
        grid-column: 7/ 10;
        grid-row: 4 / 6;
    }
    .card__image-calendar img{
        width: 195px;
    }
    .card__subtitle{
        line-height: 1;
    }
    .card__schedule-social{ /*4*/
        position: relative;
        padding-left: 2rem;
        grid-column: 10 / 13;
        grid-row: 1 / 6;
        overflow: hidden;
        align-items: start;
    }
    .card__image-schedule img{
        width: 320px;
    }
    .card__description{
        text-align: start;
        line-height: 1.1;
        font-size: 1.1rem;
    }
    .card__followers{ /*5*/
        flex-direction: row;
        grid-column: 7 / 13;
        grid-row: 6 / 8;
    }
    .card__image-followers img{
        padding-top: 2rem;
        width: 200px;
    }
    .card__followers .card__subtitle{
        text-align: start;
    }
    .card__audience{ /*6*/
        padding-top: 2rem;
        grid-column: 4 / 7;
        grid-row: 6 / 8;
    }
    .card__audience .card__description{
        margin-bottom: 1.8rem;
    }
    .card__create{ /*7*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 1 / 4;
        grid-row: 1 / 5;
    }
    .card__writeAI{ /*8*/
        grid-column: 1 / 4;
        grid-row: 5 / 8;
    }
    .card__writeAI .card__subtitle{
        font-size: 1.9rem;
    }
    .card__image-writeAI img{
        width: 180px;
    }
}